.input-container {
    margin-bottom: 15px;
  }
  
  .input-container label {
    display: block;
    margin-bottom: 5px;
    margin-left: 5%;
    margin-right: 2%;
    margin-top: 1%;
    font-weight: bold;
  }
  
  .input-container input {
    width: 80%;
    padding: 10px;
    border: 2px solid #76D7C4;
    border-radius: 25px;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
    margin-left: 5%;
    margin-right: 10%;
  }
  
  .input-container input:focus {
    border-color: #48C9B0;
  }
  
  .model-selection {
    display: flex;
    align-items: center;
  }
  
  .model-option {
    display: flex;
    align-items: center;
    margin-right: 20%; 
  }
  
  .hidden-radio {
    display: none; 
  }
  .model-selection{
    margin-left: 20%;
  }
  .model-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
  }
  
  .checkmark {
    color: green;
    margin-left: 5px;
    font-size: 1.2em;
  }
  
  .hidden-radio:checked + .model-label {
    color: green;
    font-weight: bold;
  }


.info-icon {
  width: 2%;
  margin-left: 1%;
  margin-bottom: 1%;
  cursor: pointer; 
}

.info-text {
  display: inline-block;
  position: absolute;
  z-index: 1;
  width: 200px;
  background-color: #f9f9f9;
  color: #333;
  text-align: center;
  border-radius: 4px;
  padding: 2%;
  margin-top: 1%; 
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.info-icon:hover + .info-text {
  visibility: visible;
  opacity: 1;
}
