.select-container {
  border-radius: 30px;
  margin: 1%; /* Margin around the containers to create space from the borders */
}
.title {
    text-align: center;
    font-size: large;
    font-weight: bold;
}
