.select-container {
  border-radius: 30px;
}
.title {
    text-align: center;
    font-size: large;
    font-weight: bold;
    background-color: #D9F2EF;
    padding: 10px 0;
}

.title-text {
  font-size: large;
  font-weight: bold;
}

.bottom-left-container-objects {
  margin: 1%;
  align-items: center; 
  justify-content: center; 
  display: flex; 
  margin-top: 2%;
  
}

.bottom-left-container-objects img {
  cursor: pointer;
  margin-top: 1%;
  margin-left: 7%; /* This will add spacing between the images; adjust as necessary */
}
.info-box {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: rgba(95, 95, 95, 0.9);
  padding: 15px;
  margin-right: 2%;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10; /* Ensure it's above other content */
  width: 200px;
}

